@media screen and (min-width: 2000px) {
  .complex-center .center-image__others {
    padding-right: 800px;
  }
  .news-page .container {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .planning-central .swiper-slide {
    width: 100%;
  }
}

@media screen and (max-width: 1720px) {
  .advantages .container {
    padding: 0 219px;
  }
}

@media screen and (max-width: 1700px) {
  .timeline-media {
    width: 476px;
  }
}

@media screen and (max-width: 1620px) {
  .center-image__others {
    padding-right: 68px;
  }
  .center-home__top .right {
    width: 292px;
  }
  .center-home .container {
    padding: 0 106px 0 219px;
    max-width: 100%;
  }
  .center-image {
    width: calc(100% - 106px - 292px - 96px);

  }
}

@media screen and (max-width: 1600px) {
  .single-timeline .txt {
    max-width: 307px;
  }
  .single-timeline:nth-child(even) .txt {
    padding-left: 104px;
  }
  .single-timeline {
    padding-left: 94px;
  }
  .timelines .container {
    width: 100%;
    max-width: 100%;
    padding: 0 163px 0 219px;
  }
  .planning.planning-trade .container {
    padding: 0 80px 0 219px;

    .planning-tabs__head {
      gap: 35px;
    }
  }
  .planning.planning-trade .planning-business {
    padding: 0;
    width: calc(100% + 80px + 219px);
    margin-left: -219px;
  }
  .design-interior-slider .slider-btn {
    left: 83px;

    &.slider-btn--next {
      left: auto;
      right: 83px;
    }
  }
  .hero-project__left {
    width: 942px;
  }
  .hero-project {
    &.hero-project--timeline {
      .hero-project__left {
        width: 1114px;
      }
    }
  }
  .footer-menu ul {
    width: 487px;
  }
  .footer {
    padding-bottom: 39px;
  }
  .footer-bot .socs {
    gap: 60px;
  }
  .contacts-map {
    height: 535px;
  }
  .news-section {
    padding-top: 96px;
  }
  .structure-container {
    height: 600px;
  }
  .structure .container {
    padding: 0 120px 0 219px;
  }
  .advantages .container {
    padding: 0 160px 0 219px;
  }
  .architects-img {
    height: 600px;
  }
}

@media screen and (max-width: 1500px) {
  .hero-project {
    &.hero-project--news {
      .hero-project__left {
        padding-bottom: 50px;
        padding-left: 121px;
      }
    }
  }
  .news-page {
    .container {
      padding: 0 121px;
    }
  }
  .hero-project__right {
    padding: 24px 50px 30px 50px;
  }
  .complex-home {
    padding-top: 80px;
  }
  .center-image .txt p {
    font-size: 100px;
  }
  .center-home__block .tech-info {
    width: 634px;
  }
  .center-image__others {
    margin-top: -81px;
  }
  .center-image {
    height: 576px;
  }
  .center-image .txt {
    padding-right: 90px;
  }
  .advantages-right .btn-brown {
    margin-top: 50px;
  }
  .advantages-right .tab-btn {
    padding: 15px 0;
  }
  .company-short {
    padding: 58px 0;
  }
  .company-short__bot {


    > p {
      max-width: 863px;
    }
  }
  .single-company-short {
    gap: 12px;

    span {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  .company-short__bot ul li .btn-grey {
    width: 204px;
  }
  .hero-block {
    height: 730px;
    max-height: 100vh;
  }
  .header-top-menu {
    width: 685px;
  }
  .hero-menu-cont {
    max-width: 685px;
  }
  .hero-socs {
    max-width: 685px;
    gap: 60px;

    > a, .socs {
      width: calc(50% - 30px);
    }
  }
  .hero-menu-cont ul {
    gap: 60px 0;

    li {
      width: calc(50% - 30px);
    }
  }
  .hero-menu-cont ul li a {
    font-size: 23px;
  }
  .hero-wrapper .container {
    max-width: 100%;
    padding: 0 15%;
  }
  .hero-links {
    gap: 76px;

    &::before {
      top: -18px;
      bottom: -18px;
      right: -22px;
      left: -22px;
    }

    a {
      font-size: 21px;
      line-height: 112%;
      width: 255px;
      padding: 17px 60px;

      &::after {
        width: 42px;
        height: 42px;
        right: 20px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .h2 {
    font-size: 60px;
    line-height: 1.2;
  }
  .hero-project__left {
    width: 850px;
    padding: 44px 50px 50px 219px;
  }
  .structure-pagin .dots .single-dot {
    font-size: 16px;
    line-height: 1.2;
  }
  .center-image .txt p {
    font-size: 90px;
  }
  .advantages-right {
    width: 344px;
  }
  .advantages .container {
    padding: 0 110px 0 219px;
  }
  .advantages-right .tab-btn {
    font-size: 16px;
    line-height: 1.2;
  }
  .single-company-short p {
    font-size: 62px;
    line-height: 1.2;
  }
  .company-short__bot > p {
    font-size: 34px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1315px) {
  .hero-project.hero-project--news .hero-project__left {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 50px;
  }
  .news-page {
    .container {
      padding: 0 44px;
    }
  }
  .single-timeline {
    padding-left: 70px;
    padding-bottom: 60px;
  }
  .single-timeline .txt {
    padding-right: 40px;
  }
  .single-timeline:nth-child(even) .txt {
    padding-left: 70px;
  }
  .hero-project.hero-project--timeline .hero-project__left {
    width: 700px;
  }
  .timelines .container {
    padding: 0 44px;
  }
  .planning.planning-trade .container {
    padding: 0 44px;
  }
  .planning-central .swiper-slide {
    width: 1688px;
    padding-left: 44px;
    padding-right: 44px;
  }
  .planning.planning-trade {
    .planning-head {
      flex-direction: row;
    }

    .planning-business {
      padding: 0;
      width: calc(100% + 88px);
      margin-left: -44px;
    }
  }
  .design-interior-slider .slider-btn {
    left: 44px;

    &.slider-btn--next {
      left: auto;
      right: 44px;
    }
  }

  .planning {
    .container {
      padding: 0 44px;
    }
  }
  .modal-gallery {
    width: 80vw;
  }
  .modal-gallery .slider-btn {
    width: 69px;
    height: 24px;
  }
  .modal-gallery .dots {
    bottom: 20px;
  }
  .design-head {
    margin-bottom: 42px;
  }
  .design-main .container {
    padding: 0 44px;
  }
  .hero-project__right {
    padding: 24px 44px;
  }
  .hero-project .img {
    height: 500px;
  }
  .hero-project__left {
    width: 700px;
    padding: 44px 44px 50px 44px;
  }
  .footer .container {
    padding: 0 44px;
  }
  .leaflet-left {
    right: 44px;
  }
  .contacts-head .left p {
    margin-top: 12px;
  }
  .contacts-form .form .btn-brown {
    margin-top: 20px;
  }
  .contacts-form {
    left: 44px;
    padding: 40px 40px;
    width: 420px;
  }
  .contacts .container {
    padding: 0 44px;

    .socs {
      gap: 50px;
    }
  }
  .news-section .container {
    padding: 0 44px;
  }
  .architects .container {
    padding: 0 44px;
  }
  .architects-img {
    height: 540px;
  }
  .single-structure .txt {
    right: 44px;
  }
  .single-structure .txt p {
    font-size: 16px;
    line-height: 1.3;
  }
  .structure-container {
    height: 470px;
  }
  .structure-pagin {
    max-width: 100%;
  }
  .structure .container {
    padding: 0 44px;
  }
  .complex-center .center-image {
    height: 560px;
  }
  .complex-home .container {
    padding: 0 44px;
  }
  .complex-center .tech-info {
    padding: 53px 48px 88px 60px;
  }
  .complex-center .center-image__others {
    padding-right: 44px;
  }

  .center-home__top .right p {
    font-size: 16px;
    line-height: 1.5;
  }
  .center-image {
    width: calc(100% - 44px - 292px - 96px);
  }
  .center-image {
    height: 530px;
  }
  .center-image__others {
    padding: 0 60px 0 44px;
  }
  .center-image .txt {
    padding: 40px 44px;
  }
  .center-home .container {
    padding: 0 44px;
  }
  .advantages-right .tab-btn {
    padding: 6px 0;
  }
  .advantages-tabs {


    .item-tab p, .standard-tab p {
      font-size: 18px;
      line-height: 1.2;
    }

    .item-tab, .standard-tab {
      ul {
        li {
          font-size: 18px;
          line-height: 1.2;
        }
      }
    }
  }
  .advantages-bg p {
    font-size: 12px;
    line-height: 1.2;

    &:nth-child(1) {


      top: 35.89%;
      left: 24.7%;
    }

    &:nth-child(2) {
      top: 29.8%;
      left: 46.3%;
    }

    &:nth-child(3) {
      top: 50.8%;
      left: 10.3%;
    }

    &:nth-child(4) {
      top: 54.8%;
      left: 40.3%;
    }
  }
  .advantages-bg {
    width: 80%;
    height: 0;
    padding-top: 27.3940%;

    .img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .advantages .container {
    padding: 0 44px;
  }
  .company-short {
    padding: 45px 0 56px;
  }
  .company-short__bot ul {
    padding-top: 40px;
  }
  .company-short__bot {
    margin-top: 45px;
  }
  .single-company-short p {
    font-size: 52px;
    line-height: 1.2;
  }
  .single-company-short span {
    font-size: 16px;
    line-height: 1.2;
  }
  .company-short__bot > p {
    font-size: 28px;
    line-height: 1.2;
  }
  .hero-wrapper .container {
    padding: 0 44px;
  }
  .company-short .container {
    padding: 0 44px;
  }
  .company-short__bot ul {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .single-timeline .txt span {
    font-size: 38px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  .timeline-slider .slider-btn {
    left: 15px;

    &.slider-btn--next {
      right: 15px;
    }
  }
  .planning.planning-trade .planning-head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .planning-head {
    margin-bottom: 30px;
  }
  .planning-head span {
    font-size: 38px;
    line-height: 1.2;
  }
  .hero-project__left {
    > span {
      font-size: 26px;
      line-height: 1.2;
    }

    > p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .hero-project__sizes p {
    font-size: 60px;
    line-height: 1.2;

    strong {
      font-size: 24px;
      line-height: 1.2;
    }
  }
  .modal-plan {
    width: 820px;
    padding: 50px 40px;
  }
  .plan-center {
    width: 570px;
  }
  .footer-top .logo {
    width: 28%;
  }
  .footer-bot {
    .copyr {
      width: calc(28% - 8px);
    }
  }
  .contacts-form {
    left: 0;
  }
  .contacts-map {
    height: 420px;
  }

  .input-wrap input, .input-wrap textarea {
    padding-bottom: 15px;
  }
  .input-wrap {
    padding-bottom: 26px;
  }
  .structure {
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .structure-pagin .dots .single-dot {
    padding-bottom: 16px;
  }
  .structure-pagin .dots {
    gap: 23px;
  }
  .complex-center .tech-info {
    width: 540px;
  }
  .complex-center .center-image__others {
    width: calc(100% - 500px);
  }
  .tech-info {
    span {
      font-size: 24px;
      line-height: 1.2;
    }

    ul {
      li {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
  .h2 {
    font-size: 54px;
    line-height: 1.2;
  }
  .center-home__block .tech-info {
    width: 550px;
    padding: 59px 90px 59px 63px;
  }
  .container {
    padding: 0 30px 0 40px;
  }
  .hero-links {
    border-radius: 112px;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(5.6px);
    backdrop-filter: blur(5.6px);
    padding: 16px 18px;

    &::before {
      content: none;
    }
  }
  .hero-links a::after {
    width: 34px;
    height: 34px;
    right: 20px;
  }
  .hero-links a {
    font-size: 18px;
    line-height: 1.2;
    width: 220px;
    padding: 16px 60px;
  }
  .hero-block {
    height: 540px;
  }

  .header {
    .container {
      padding: 0 15px;
    }
  }
  .header-top {
    padding: 24px 0;
  }
  .hero-title {
    font-size: 76px;
  }
  .hero-wrapper {
    padding: 120px 0 90px;
  }
  .hero-socs > a::before {
    right: calc(100% + 8px);
  }
  .hero-socs .socs {
    gap: 36px;
  }
  .hero-menu-cont ul li a {
    font-size: 20px;
    line-height: 1.2;
  }
  .hero-socs > a {
    font-size: 20px;
    line-height: 1.2;
  }
  .hero-menu-cont ul {
    max-height: 255px;
  }
}

@media screen and (max-width: 1150px) {
  .single-timeline .txt {
    max-width: none;
  }
  .design-interior-slider .slider-btn {
    display: none;
  }
  .hero-project__left > span {
    margin: 15px 0 25px;
  }
  .hero-project__left {
    width: 620px;
    padding: 44px 44px 50px 44px;
  }
}

@media screen and (max-width: 1100px) {
  .hero-project__left .h2 + p {
    margin-top: 37px;
  }
  .footer-bot .socs {
    gap: 40px;
  }
  .footer-menu {
    display: none;
  }
  .footer-bot .copyr {
    width: 40%;
  }
  .hero-project__right {
    width: calc(100% - 620px);
  }
}

@media screen and (max-width: 1050px) {
  .hero-project__left {
    padding: 30px 30px 30px 44px;
    width: 590px;
  }
  .modal-form {
    padding: 60px 100px;
    width: 760px;
  }
  .news-section {
    padding-top: 50px;
  }
  .title-head {
    margin-bottom: 15px;
  }
  .architects {
    padding-top: 30px;
  }
  .architects-img {
    height: 420px;

    .txt {
      p {
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
  .structure-slider {
    margin-top: 40px;
  }
  .structure-pagin .dots {
    max-height: 90px;
  }
  .structure-pagin .dots .single-dot {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .single-structure .txt {
    width: 430px;
  }
  .h2 {
    font-size: 42px;
  }
  .center-home__top .left span {
    font-size: 22px;
    line-height: 1.2;
  }
  .center-image .txt span {
    font-size: 20px;
  }

  .center-home__top {
    gap: 40px;
  }
  .center-image .txt p {
    font-size: 70px;

    strong {
      font-size: 24px;
      line-height: 1.2;
    }
  }
  .center-image__others {

    width: calc(100% - 124px - 292px - 44px);
  }
  .center-image {
    width: calc(100% - 44px - 292px - 40px);
  }
  .advantages-right .btn-brown {
    margin-top: 35px;
  }
  .advantages-tabs {


    .item-tab p, .standard-tab p {
      font-size: 16px;
      line-height: 1.2;
    }

    .item-tab, .standard-tab {
      ul {
        li {
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }
  }
  .h3 {
    font-size: 38px;
    line-height: 1.2;
  }
  .advantages-left .h3 {
    margin-bottom: 40px;
  }
  .lang {
    &.open {
      > span {
        color: $brown;

        &::after {
          transform: translate(0, -50%) rotate(180deg);
        }
      }

      ul {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .hidden-mob {
    display: none;
  }
  .header-top > .lang {
    display: flex;
  }
  .header-top {
    padding: 20px 0;

    .burger {
      order: 1;
    }

    .lang {
      margin-left: auto;
      order: 3;
      pointer-events: auto;
    }

    .logo {
      order: 2;
      margin: 0;
    }
  }
  .lang > span {
    padding: 8px 0;
    padding-right: 21px;
  }
  .hero-menu-cont {
    max-width: 100%;
  }
  .hero-menu {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .hero-socs {
    max-width: 100%;
  }
  .hero-menu-cont ul {
    max-height: 247px;
  }
}

@media screen and (max-width: 1020px) {
  .single-timeline {
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .single-timeline:nth-child(even) .txt {
    padding-left: 40px;
  }
  .timeline-media {
    width: 400px;
    height: 256px;
  }
  .advantages {
    padding: 35px 0;
  }
  .advantages-bg {
    display: none;
  }
  .advantages-tabs {


    .item-tab ul, .standard-tab ul {
      li {
        width: 100%;
      }
    }
  }
  .advantages-tabs .item-tab, .advantages-tabs .standard-tab {
    max-width: 460px;
  }
}

@media screen and (max-width: 992px) {
  .hero-project.hero-project--timeline .hero-project__left {
    width: 460px;
  }
  .planning-head > span {
    width: 100%;
    text-align: center;
  }
  .planning {
    padding-top: 62px;
  }
  .planning-head {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > span {
      margin-bottom: 50px;
    }
  }
  .hero-project__left {
    width: 460px;
  }
  .hero-project__right {
    width: calc(100% - 460px);
    padding: 20px 44px 20px 20px;
  }
  .modal-window.modal-window__video .modal-container {
    width: 90%;
  }
  .modal-head {
    padding: 20px 20px;

  }
  .vid-play {
    width: 72px;
    height: 72px;

    img {
      width: 24px;
      height: auto;
      margin-left: 7px;
    }
  }
  .advantages-cont {
    gap: 44px;
  }
  .h3 {
    text-transform: initial;
    font-weight: 400;
  }
  .single-company-short p {
    font-size: 41px;

    strong {
      font-size: 22px;
    }
  }
  .company-short__bot > p {
    font-size: 24px;
    line-height: 1.2;
  }
  .hero-wrapper {
    padding: 132px 0 80px;
  }
  .hero-title {
    font-size: 64px;
  }
  .hero-links a {
    font-size: 21px;
    line-height: 1.2;
    width: 250px;
  }
  .hero-links {
    background: rgba(255, 255, 255, 0);
    padding: 0;
    filter: none;
    width: 100%;
    justify-content: space-between;
    backdrop-filter: none;

    a {
      margin-left: 25px;
      margin-right: 25px;

      &::before {
        border-radius: 112px;
        background: rgba(255, 255, 255, .25);
        -webkit-backdrop-filter: blur(5.6px);
        backdrop-filter: blur(5.6px);
        padding: 16px 18px;
        display: inline-block;
        z-index: -1;
        content: '';
        top: -18px;
        right: -25px;
        left: -25px;
        bottom: -18px;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .news-page {
    padding-bottom: 30px;
  }

  .news-page__list .btn-dark-brown {
    width: 230px;
    margin-left: calc((100% - 230px) / 2);
    margin-right: calc((100% - 230px) / 2);
  }
  .news-page__list {
    gap: 20px;

    .single-news {
      margin-right: auto;
      width: calc(50% - 10px);
    }
  }
  .single-timeline .txt {
    width: 100%;
    padding: 0;
  }
  .single-timeline:nth-child(even) .txt {
    width: 100%;
    padding: 0;
  }
  .timeline-media {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 79%;

    > * {
      position: absolute !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }
  .single-timeline {
    flex-direction: column-reverse !important;
    width: 100%;
    padding: 0 0 40px 40px;
  }
  .timeline-media {
    margin-bottom: 28px;
  }
  .planning-central .swiper-slide {
    padding: 0 10px;
    width: 1100px;
  }
  .planning.planning-trade .planning-business {
    width: 100%;
    margin-left: 0;
  }
  .planning.planning-trade .container .planning-tabs__head {
    width: 100%;
    gap: 28px;
    flex-wrap: wrap;
  }
  .planning.planning-trade .container {
    padding: 0;
  }
  .planning-cont {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 0 14px;
  }
  .planning-trade {
    .planning-cont {
      padding: 0;
    }
  }

  .planning-cont .planning-left {
    width: 100%;
  }
  .planning {
    .container {
      padding: 0;
    }
  }
  .planning-head {
    padding: 0 44px;
  }
  .planning-left {
    width: 100%;
  }
  .planning-right {
    width: 100%;
    align-items: center;

    > div {
      margin-bottom: 40px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }
  }
  .modal-form {
    width: 100%;
  }
  .modal-window {
    &.modal-window__plan {
      .modal-container {
        width: 100%;
      }
    }
  }
  .modal-plan {
    width: 100%;
  }

  .footer-top {
    .logo {
      width: 171px;
      margin-right: 50px;

      a {
        width: 100%;
      }
    }

    .socs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      a {
        width: 32px;
        height: 32px;
        display: flex;
        filter: brightness(0) invert(1);
        transition: all 0.3s ease-in-out;

        img {
          width: 100%;
          height: 100%;

          transition: all 0.3s ease-in-out;
        }

        &:hover {
          filter: brightness(1);

          img {
            filter: invert(68%) sepia(9%) saturate(1034%) hue-rotate(331deg) brightness(92%) contrast(93%);
          }
        }
      }
    }
  }
  .footer-bot .socs {
    display: none;
  }

  .architects {
    > .container {
      display: none;
    }
  }
  .architects-img {
    margin-top: 0;

    &::after {
      background: rgba(0, 0, 0, 0.3);
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .container {
      z-index: 2;
    }

    .txt {
      padding-top: 67px;
      padding-bottom: 65px;

      .h2 {
        display: inline-block;
        margin-bottom: 34px;
      }

      p, span {
        color: #fff;
      }
    }
  }
  .single-structure .txt {
    width: 100%;
    padding: 28px 27px 19px 47px;
    font-size: 16px;
    line-height: 1.3;
    right: 0;
  }
  .structure-container {
    position: relative;
    height: 100vh;
    min-height: 500px;

    .btns {
      display: flex;
    }

    .slider-btn {
      position: absolute;
      left: 16px;
      top: 230px;
      z-index: 3;

      &.slider-btn--next {
        left: auto;
        right: 16px;
      }
    }
  }
  .single-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 10px 15px;
      background: #fff;

      width: 100%;
      color: $main-color;
      text-align: center;

      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
    }
  }
  .structure-slider {
    margin-top: 0;
  }
  .structure-pagin {
    display: none;
  }
  .complex-home .center-home__top .left {
    margin-bottom: 34px;
  }
  .complex-home {
    padding-top: 46px;
  }
  .complex-center .tech-info {
    padding: 65px 44px;
  }
  .complex-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .complex-center .center-image {
    order: 1;
  }
  .complex-center .center-image__others {
    order: 2;
    width: 100%;
    padding: 0 44px;
  }
  .complex-center .tech-info {
    position: static;
    width: 100%;
    order: 3;
  }
  .tech-info .btn-brown {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    color: #fff;
    width: auto;
    padding: 16px 70px;
  }
  .tech-info ul {
    padding-left: 20px;
  }
  .tech-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .center-home {
    padding: 46px 0 0;
  }
  .center-home__block .tech-info {
    padding: 50px 44px;
  }
  .tech-info {
    span {
      font-size: 38px;
      line-height: 1.2;
    }

    ul {
      li {
        font-size: 18px;
        line-height: 1.2;
      }
    }
  }
  .center-home__top {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .left {
      width: 100%;
      margin: 0;
    }

    .right {
      width: 100%;
    }
  }
  .center-image {
    width: 100%;
    margin-top: 20px;
    order: 1;
  }
  .center-image__others {
    order: 2;

    .btn-brown, .btn-dark-brown {
      display: none;
    }
  }
  .center-image__others .imgs {
    margin-bottom: 20px;
  }
  .center-home__block .tech-info {
    width: 100%;
  }
  .center-image__others {
    width: 100%;
  }
  .center-home__block .tech-info {
    order: 3;
    position: static;
  }
}

@media screen and (max-width: 767px) {

  .hero-project.hero-project--news .hero-project__text {
    margin-top: 0;
    padding-bottom: 0;
  }
  .news-page {
    padding-top: 0;
  }
  .hero-project.hero-project--timeline .hero-project__left {
    width: 100%;
  }
  .hero-project__text {
    margin-top: 0;
  }
  .hero-project__left {
    width: 100%;
  }
  .hero-project__right {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 44px;
  }
  .hero-project__sizes {
    p {
      color: $main-color;
    }

    span {
      color: $main-color;
    }
  }
  .modal-window {
    padding: 20px;
  }
  .modal-container {
    max-height: calc(100vh - 40px);
    overflow-y: auto;
  }
  .contacts-cont {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .contacts-form {
    position: static;
    width: 100%;
  }
  .contacts-map {
    min-height: 520px;
    height: 100vh;
  }
  .company-short__bot ul {
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;

    li {
      width: calc(50% - (55px / 2));

      .btn-grey {
        width: 100%;
      }
    }
  }
  .company-short__top {
    flex-wrap: wrap;
    gap: 43px;

  }
  .single-company-short {
    gap: 20px;

    p {
      font-size: 74px;
      line-height: 1;
      flex-shrink: 0;
      white-space: nowrap;

      strong {
        font-size: 32px;
      }
    }

    span {
      font-size: 20px;

      br {
        display: none;
      }
    }
  }
  .header {
    &.active {
      background: rgba(255, 255, 255, 0.25);
    }
  }
  .hero-socs > a {
    font-size: 18px;
    line-height: 1.2;
  }
  .hero-menu-cont ul li a {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 720px) {
  .design-head {
    gap: 15px;
    justify-content: space-between;
  }
  .hero-project__text {
    padding-bottom: 35px;
  }
  .hero-project__left {
    padding: 36px 44px;
  }
  .hero-project__left > span {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .hero-project__sizes {
    p {
      font-size: 83px;

      strong {
        font-size: 32px;
      }
    }

    span {
      font-size: 26px;
    }
  }
  .modal-present {
    width: 540px;
    padding: 50px 30px;
  }
  .modal-present span, .modal-form > span {
    font-size: 24px;
    line-height: 1.2;
  }
  .modal-plan {
    padding: 50px 40px;
  }
  .plan-top {
    margin-bottom: 25px;

    p {
      font-size: 26px;
    }

    span {
      font-size: 16px;
      line-height: 1.3;
    }
  }
  .plan-center {
    width: 90%;
    margin-bottom: 25px;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .socs {
      width: 100%;

    }

    .logo {
      margin-bottom: 45px;
      margin-right: 0;
    }
  }
  .footer-contacts {
    width: 100%;
    margin-top: 34px;
    padding-left: 10px;

    a, p {
      img {
        margin-right: 26px;
      }
    }
  }
  .footer-bot {
    transform: none;
    margin-top: 45px;

    .copyr {
      width: 100%;
      text-align: center;
    }
  }
  .advantages-right {
    .tab-btn {
      &:first-child {
        border-top: 1px solid rgba(255, 255, 255, .3);
      }
    }
  }
  .advantages-left .h3 {
    margin-bottom: 30px;
  }
  .advantages-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .advantages-left {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .single-news .txt {
    min-height: 230px;
  }
  .news-page__list .btn-dark-brown {
    margin-top: 50px;
  }
  .news-page .container {
    padding: 0;
  }
  .news-page__list {
    gap: 0;
    .single-news {
      width: 100%;
    }
  }
  .hero-project__left {
    .h2 {
      width: calc(100% + 30px);
      font-weight: 400;
      text-align: center;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .timelines {
    padding: 0;
  }
  .single-timeline .txt {
    padding: 0 44px !important;
  }
  .timelines .container {
    padding: 0;
  }
  .single-timeline {
    padding: 0;
    padding-bottom: 50px;

    &::before, &::after {
      content: none;
    }

    .txt {

    }
  }
  .planning.planning-trade .container .planning-tabs__head {
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
    gap: 25px;

    .tab-btn {
      width: calc((100% / 3) - (50px / 3));
    }

  }
  .hero-project__sizes p {
  }
  .hero-project__sizes {
    width: calc(100% + 40px);
  }
  .planning-tabs__head {
    gap: 5px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .modal-gallery {
    width: 100%;

    .slider-btn {
      left: 0;
      transform: translate(0, -50%);

      &.slider-btn--next {
        right: 0;
        transform: translate(0, -50%) rotate(180deg);
      }
    }
  }
  .modal-gallery {
    height: 260px;
  }
  .design-main .container {
    padding: 0 14px;
  }
  .design-interior-slider .swiper-slide {
    width: 86%;

    .img {
      padding-top: 86.3%;
    }
  }
  .modal-form .form form .checkboxes {
    margin-bottom: 25px;
  }
  .modal-form {
    padding: 50px 30px;
  }
  .modal-present {
    width: 100%;
    padding: 50px 20px;

    > span {
      font-weight: 600;
      font-size: 26px;
      line-height: 1.2;
    }
  }
  .modal-form > span {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;
  }
  .modal-present .img {
    height: 48px;
    margin: 25px 0;
  }
  .modal-container {
    width: 100%;
  }
  .plan-bottom {
    //flex-direction: column;
    //align-items: flex-start;
    //justify-content: flex-start;
    gap: 10px;
  }

  .panoram-btn {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .img {
      width: 47px;
      height: 47px;
    }

    p {
      margin-top: 10px;
      font-size: 12px;
      line-height: 1.2;
      margin-left: 0;
      text-align: center;
    }
  }
  .plan-top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      margin-top: 5px;
      margin-left: 0;
    }
  }
  .modal-window.modal-window__video .modal-container {
    width: 100%;
  }
  .modal-head {
    padding: 15px;

    .log {
      width: 130px;
    }
  }
  .modal-close {
    width: 34px;
    height: 34px;
  }
  .contacts {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .contacts .container .socs {
    display: none;
  }
  .news-section .container {
    > .btn-brown, .btn-dark-brown {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .architects-img {
    height: 90vh;
    min-height: 600px;

    .txt {
      .h2 {
        font-weight: 400;
      }
    }
  }
  .architects {
    padding-top: 0;
  }
  .structure {
    padding-bottom: 21px;
    padding-top: 35px;
  }
  .structure .container {
    padding: 0;

    .h2 {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
    }
  }
  .structure-container {
    height: 650px;
  }
  .center-image .txt {
    padding: 40px 12px 0 44px;
  }
  .center-image {
    height: 100vh;
    min-height: 550px;
  }
  .center-image__others {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    gap: 0;
    margin: 0;

    .imgs {
      gap: 0;
      margin: 0;

      .img {
        width: 50%;
        padding-top: 28%;
      }
    }
  }
  .center-image .txt {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      font-size: 26px;
      line-height: 1.2;
      max-width: 100%;
    }

    p {
      font-size: 72px;
      line-height: 1;
      margin-right: 0;
      margin-bottom: 5px;

      strong {
        font-size: 40px;
        line-height: 1;
      }
    }
  }
  .center-image {
    margin-top: 56px;
  }
  .h2 {
    font-size: 38px;
    line-height: 1.2;
    text-transform: initial;
  }
  .center-home__top {
    gap: 14px;

    .left {
      .h2 {
        margin-bottom: 21px;
      }

      span {
        font-size: 26px;
        line-height: 1.2;
      }
    }

    .right {
      p {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
  .advantages {
    .container {
      padding: 0;
    }
  }
  .advantages-left {
    padding: 0 25px 0 62px;
  }
  .advantages-right {
    width: 100%;

    .tab-btn {
      padding: 5px 14px;
    }
  }
  .company-short__bot > p {
    font-size: 28px;
    line-height: 1.2;
  }
  .hero-block {
    height: 100vh;
    min-height: 450px;
  }
  .hero-title {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: initial;

    strong {
      letter-spacing: initial;
    }
  }
  .hero-links {
    gap: 57px;
    flex-direction: column;
    align-items: flex-start;

    a {
      width: calc(100% - 50px);
    }
  }
}

@media screen and (max-width: 560px) {
  .advantages-right .tab-btn::before {
    margin-right: 8px;
  }
  .company-short__bot > p {
    font-size: 26px;
    line-height: 1.2;
  }
  .company-short .container {
    padding: 0 44px;
  }
  .single-company-short {
    flex-wrap: wrap;
  }
  .single-company-short p {
    font-size: 72px;
  }
  .company-short__bot > p {
    margin-bottom: 0;
  }
  .company-short__bot {
    ul {
      margin-top: 120px;
    }
  }
  .hero-menu-cont ul li a {
    font-size: 24px;
    line-height: 1.2;
    text-transform: initial;
  }
  .header {
    &.active {
      background: #F0F0F0;
    }
  }
  .hero-menu {
    top: 80px;
    background: #fff;
    position: fixed;
    padding: 0 0 80px;

    .container {
      padding: 0;
    }
  }
  .hero-menu-cont ul {
    max-height: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    writing-mode: initial;
    display: flex;

    li {
      width: 100%;
      border-bottom: 1px solid #BFC8D0;

      a {
        padding: 19px 44px;
        border: none;
        background: #fff;
        transition: all 0.3s ease-in-out;

        &:hover, &.active {
          background: $brown;
          color: #fff;
        }
      }
    }
  }
  .hero-socs {
    padding: 45px 44px 0;
    margin: 0;
    flex-direction: column-reverse;
    gap: 56px;

    > a {
      width: 100%;
      padding-left: 52px;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 600;

      &::before {
        right: auto;
        left: 0;
        transform: translate(0, -50%);
      }
    }

    .socs {
      width: 100%;
      justify-content: space-between;
      gap: 15px;

      a {
        width: 35px;
        height: 35px;
      }
    }
  }
  .hero-menu {
    max-height: calc(100% - 80px);
    overflow-y: auto;
  }
}

@media screen and (max-width: 510px) {
  .hero-project.hero-project--news .hero-project__left {
    padding: 43px 44px;

    .h2 {
      text-align: left;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .hero-project.hero-project--news .img {
    height: 78vh;
  }
  .planning-right p {
    font-size: 16px;
    line-height: 1.2;
  }
  .hero-project .img {
    height: 78vh;
    min-height: 430px;
    max-height: 650px;
  }
  .modal-plan {
    padding: 50px 20px;
  }
  .plan-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .complex-center .center-image__others {
    padding: 0;
  }
  .center-image__others .imgs {
    .img {
      display: none;

      &:nth-child(1) {
        display: flex;
        width: 100%;
        padding-top: 55%;
      }
    }
  }
  .company-short__bot ul {
    padding-top: 0;
    border: none;

    li {
      width: 100%;
    }
  }
}

@media screen and (max-width: 370px) {
  .hero-project__sizes p {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 360px) {
  .planning.planning-trade .container .planning-tabs__head {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .planning-tabs__head .tab-btn {
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 14px;
  }

  .hero-project__left {
    padding: 30px 20px 15px;
  }
  .hero-project__right {
    padding: 0 20px;
  }
  .hero-project__sizes {
    p {
      font-size: 60px;
    }

    span {
      font-size: 20px;
    }
  }
  .hero-project__sizes {
    width: 100%;
  }
  .modal-form .form form .checkboxes {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .modal-form {
    padding: 50px 20px;
  }
  .modal-form > span, .modal-present span {
    font-size: 20px;
  }
  .footer {
    padding: 25px 0 30px;
  }
  .footer .container {
    padding: 0 20px;
  }
  .leaflet-left {
    right: 20px;
  }
  .contacts-map {
    height: 320px;
    min-height: 320px;
  }
  .contacts-form {
    padding: 30px 20px;
  }
  .contacts .container {
    padding: 0 20px;
  }

  .single-news .txt {
    padding: 20px 24px;

    p {
      font-size: 16px;
      line-height: 1.3;
    }

    span {
      font-size: 14px;
      line-height: 1.2;
    }
  }
  .news-section .container {
    padding: 0 20px;
  }
  .h2 {
    font-size: 32px;
  }
  .single-structure > p {
    font-size: 20px;
    line-height: 1.2;
  }
  .architects .container {
    padding: 0 20px;
  }
  .complex-center .tech-info {
    padding: 40px 20px;
  }
  .complex-home .container {
    padding: 0 20px;
  }
  .tech-info {
    span {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 16px;
    }

    ul {
      li {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
  .center-home__block .tech-info {
    padding: 30px 20px 30px 20px;
  }
  .center-image .txt {
    padding: 20px;
  }
  .center-image .txt span {
    font-size: 22px;
    line-height: 1.2;
  }
  .center-image .txt p {
    font-size: 60px;

    strong {
      font-size: 30px;
    }
  }
  .center-home__top .left .h2 {
    font-size: 34px;
    line-height: 1.2;
  }
  .center-home__top .left span {
    font-size: 22px;
    line-height: 1.2;
  }
  .center-home .container {
    padding: 0 20px;
  }
  .advantages-right .tab-btn {
    font-size: 14px;
    line-height: 1.2;
  }
  .advantages-left {
    padding: 0 20px;
  }
  .company-short .container {
    padding: 0 20px;
  }
  .single-company-short p strong {
    font-size: 24px;
    line-height: 1.2;
  }
  .single-company-short p {
    font-size: 52px;
  }
  .company-short__bot ul {
    margin-top: 60px;
    gap: 36px;
  }
  .hero-wrapper .container {
    padding: 0 20px;
  }
  .company-short__bot > p {
    font-size: 22px;
  }
  .hero-title {
    font-size: 34px;
    line-height: 1.2;
  }
  .hero-links a {
    font-size: 18px;
    line-height: 1.2;
  }
  .header-top .logo {
    width: 160px;
  }
  .container {
    padding: 0 20px;
  }
  .hero-menu-cont ul li a {
    padding: 19px 20px;
    font-size: 20px;
    line-height: 1.2;
  }
  .hero-socs {
    padding: 35px 20px 0;
  }
  .advantages-right .tab-btn::before {
    width: 32px;
    height: 32px;
  }
  .single-company-short span {
    font-size: 16px;
    line-height: 1.2;
  }
  .company-short__bot > p {
    font-size: 16px;
    line-height: 1.2;
  }
  .h3 {
    font-size: 32px;
    line-height: 1.2;
  }
  .advantages-tabs .item-tab, .advantages-tabs .standard-tab {
    p, ul li {
      font-size: 14px;
      line-height: 1.2;
    }
  }
  .planning-head {
    padding: 0 20px;
  }
  .planning-head > span {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.2;
  }
  .single-timeline .txt {
    padding: 0 20px !important;
  }
  .single-timeline .txt {
    span {
      font-size: 32px;
      line-height: 1.2;
      margin-bottom: 16px;
    }

    p {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 14px;
    }
  }
  .timeline-media {
    margin-bottom: 20px;
  }
  .single-news .txt {
    min-height: 190px;
  }
}

.single-timeline .txt p {
  &:last-child {
    margin-bottom: 0;
  }
}
